.about-us {

    h1 {
        background-color: lightblue;
        padding: 24px 12px;
    }

    section {
        border: solid 1px #333;
        padding: 12px;

        p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

/* services */
#services {
    padding: 12px;
    margin: 12px 0;
    background-color: lightcyan;
}